.gaming-videos-list {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  width: 180px;
  margin-right: 10px;
  margin-bottom: 10px;
  line-height: 1px;
}

.views-published-container {
  display: flex;
}
.gaming-thumbnail-image {
  width: 100%;
}
