.videos-type-container {
  width: 25%;
}
.side-buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  padding-top: 40px;
  width: 25%;
}
.contact-us-section {
  margin-left: 0px;
  padding-left: 0px;
}
.contact-us-description {
  width: 200px;
}
