.video-details-container {
  display: flex;
}
.react-player {
  margin-top: 130px;
  height: 300px;
  width: 100%;
}
.video-item-player-title {
  font-size: 15px;
  font-weight: 500;
  position: relative;
}
.react-video-player-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.like-dislike-buttons-save-container {
  margin-right: 465px;
}

@media screen and (max-width: 768px) {
  .like-dislike-buttons-save-container {
    margin-right: 0;
  }
}

.views-time-container {
  display: flex;
  align-items: center;
}

.buttons {
  cursor: pointer;
  outline: none;
  border: 0;
  background-color: transparent;
  color: #64748b;
}
.image-subscription-container {
  display: flex;
  align-items: flex-start;
}
.ib-cricket-image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid #000;
  margin-left: 0;
  margin-top: 5px;
  padding: 10px;
  margin-right: 10px;
}

.blue {
  color: #2563eb;
  font-weight: 600;
}
.dot {
  text-align: bottom;
}

.success-background-dark {
  background-color: #181818;
  color: #ffffff;
  min-height: 100vh;
}
.failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 130px;
  height: 100vh;
  background-size: cover;
  width: 80vw;
}
.video-item-details-container {
  width: 100%;
}
.video-details-background-color {
  width: 100%;
  min-height: 100vh;
}
