.trending-list-container {
  top: 120px;
  position: sticky;
}
.trending {
  color: red;
}
.trending-heading-container {
  position: sticky;
  top: 100px;
}
.failure-image {
  height: 300px;
  width: 330px;
}
.trending-container {
  margin-left: 200px;
  padding-top: 150px;
  position: static;
  top: 200px;
}
.failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1px;
}
.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
